/* reset */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* intestazione */

header {
    background-color: aquamarine;
    padding-top: 17px;
    padding-bottom: 17px;
}


/* menu navigazione */


.navigation {
    width: 1100px;
    margin: 0 auto;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
}

.nav-item-link {
flex-grow: 2;
text-align: center;
border: 1px solid black;
padding: 10px;
}

.nav-item-logo {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid black
}

.nav-item-login {
    flex-grow: 1;
    padding: 10px;
    text-align: end;
    border: 1px solid black
}

/* main */

.bg-blue {
    background-color: blue;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: grey;
}

.container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

main > section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* DA RIMUOVERE */
 
.debug .row {
    height: 496px;
    background-color: chartreuse;
    flex-direction: column;
    width: 710px;
}

/* sezioni varie */

.row2 {
    flex-direction: column;
    width: 480px;
    background-color: brown;
}

.reverse {
    order: -1;
}

.rowsmall {
    height: 400px;
    width: 910px;
    background-color: blueviolet;
}

.rowbig {
    height: 895px;
    width: 1200px;
    background-color: rgb(186, 224, 13);
}

/* footer */

.bg-darkgray {
    background-color: green;
}

.rowfooter {
    height: 576px;
    width: 1200px;
    margin-top: 5px;
    background-color: greenyellow;
    display: flex;
}

.rowf1 {
    display: flex;
    flex-direction: column;
    width: 360px;
    border: 1px solid black;
    background-color: rgb(153, 55, 9);
}

.rowf2 {
    display: flex;
    width: 210px;
    flex-direction: column;
    border: 1px solid black;
    background-color: rgb(91, 31, 160);
}