/* reset */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* intestazione */

header {
    background-color:#add8e6;
    padding-top: 17px;
    padding-bottom: 17px;
}


/* menu navigazione */


.navigation {
    width: 1100px;
    margin: 0 auto;
    background-color:#daa520;
    display: flex;
    justify-content: space-between;
}

.nav-item-link {
    flex-grow: 2;
    text-align: center;
    border: 2px dashed black;
    padding: 10px;
}

.nav-item-logo {
    flex-grow: 1;
    padding: 10px;
    border: 2px dashed black
}

.nav-item-login {
    flex-grow: 1;
    padding: 10px;
    text-align: end;
    border: 2px dashed black
}

/* main */

.bg-blue {
    background-color:#00008b;
}

.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #d3d3d3;
}

.container {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

main > section {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* DA RIMUOVERE */
 
.debug .row {
    height: 496px;
    background-color:#1e90ff ;
    flex-direction: column;
    width: 710px;
    border: 2px dashed black
}

/* sezioni varie */

.row2 {
    flex-direction: column;
    width: 480px;
    background-color: #ffc0cb;
    border: 2px dashed black
}

.reverse {
    order: -1;
}

.rowsmall {
    height: 400px;
    width: 910px;
    background-color:#ee82ee ;
    border: 2px dashed black
}

.rowbig {
    height: 895px;
    width: 1200px;
    background-color: #228b22;
    border: 2px dashed black
}

/* footer prima parte*/

footer > section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-darkgray {
    background-color: #23272a;
}

.rowfooter {
    height: 576px;
    width: 1200px;
    margin-top: 5px;
    display: flex;
    border-right: 2px dashed black;
    border-bottom: 2px dashed black;
    border-top: 2px dashed black;
}

.rowf1 {
    display: flex;
    flex-direction: column;
    width: 360px;
    border: 2px dashed black;
    background-color: #f08080;
}

.rowf2 {
    display: flex;
    width: 210px;
    flex-direction: column;
    border-right: 2px dashed #d3d3d3;
    background-color: #20b2aa;
}

/* footer seconda parte */

.banner {
    height: 80px;
    width: 1200px;
    background-color: #7fffd4;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 70px;
    height: 30px;
    background-color: #ffb6c1;
    border: 2px dashed black
}